extends layout

block content
    h1= 'Search Result of ' + query + ' (' + results.length + ' Found)'
    if results
        -let counter = 0
        for result in results
            div= 'No. ' + ++counter
            div= 'Address: ' + result.formatted_address
            div= 'Lat & LONG: ' + JSON.stringify(result.geometry.location)
            div= 'Place ID: ' + result.place_id
            div= 'Place Name: ' + result.name
            div= '---------------------------------------------------------------------'


